.company-name.company-logo-and-name {
  font-weight: 900 !important;
  text-transform: lowercase !important;
  letter-spacing: .1em !important;
}

.company-name.company-logo-and-name::after {
  content: 'Centre-ville • Saragosse • Université';
  display: block;
  font-size: .6em;
  font-weight: 300 !important;
  text-transform: none !important;
  /*letter-spacing: normal !important;*/
}

/* or patch CompanyTimeView.js for finer control */
div#sb_booking_company_time {
  display: none;
}

/*

.sb-date-navigate {
  text-transform: none;
}

*/

/* o - Disponible */
.time-legend {
  /* .available */
  display: none !important;
}

.invoice-table :is(.inv-cell-tax, .inv-cell-total) {
  display: none;
}

#sb_profile_form {
  .form-group.is_sms_unsubscribed,
  .form-group.is_email_unsubscribed {
    display: none;
  }
}

/* social media login */

#client-login .client-login-bar {
    display: none;
}

#sb_terms_and_conditions .promotions-letter-flag {
  display: none;
}

span.remember-me__small-text {
  display: none;
}

/* Confirmation page */
/* Total for booking */
.full-info-price--caption {
  display: none;
}
.full-info-price--value::before {
  content: 'Total :    ';
  white-space: pre;
}
/* Provider line */
tr.booking-info--item.booking-info--item_provider {
  display: none;
}

#about-us {
  .title-main {
    display: none;
  }
  font-size: 1.2em;
}

#contacts .title-main {

}


a.btn.btn-next-week.sb-date-navigate {
  display: none;
}

/* patch */

#footer {
  &::before {
    display: none;
  }
  .copyright {
    display: none;
  }
}

/* month selection widget */
#sb_dateview_container {
   display: none;
}

/* provider card */
#sb_sidebar_container .provider-item {
    display: none;
}



 #events h3   {
  /* add your css rule here */
}


 #events p.duration, #events div.duration   {
  /* add your css rule here */
}


 #events p.description, #events div.description   {
  /* add your css rule here */
}


 #events .selectedEvent   {
  /* add your css rule here */
}


 #events input.reserve_time_btn   {
  /* add your css rule here */
}


 #events input.select_another_btn   {
  /* add your css rule here */
}


 #eventForm #start_date-block-container h3, #eventForm #timeline-container h3   {
  /* add your css rule here */
}


 #eventForm #save_button   {
  /* add your css rule here */
}


 div.ui-widget-content   {
  /* add your css rule here */
}


 div.ui-widget-header   {
  /* add your css rule here */
}


 #timeline-container table.timeline   {
  /* add your css rule here */
}


 .timeline td.not_worked_time   {
  /* add your css rule here */
}


 .timeline td.free_time   {
  /* add your css rule here */
}


 .timeline td.selected_time   {
  /* add your css rule here */
}


 .timeline td.reserved_time   {
  /* add your css rule here */
}


 div#loading   {
  /* add your css rule here */
}


 #start_date-block-container .zend_form dt, start_date-block-container .zend_form dt b, start_date-block-container .zend_form dd label   {
  /* add your css rule here */
}

